
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #ededed, #f6cedb, #aacbe4);
    color: #d776b2;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(to right, #fff, #fce4ec, #e3f2fd);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #d776b2;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.navbar a:hover {
    color: #a40060;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 150px 20px 100px;
    background: linear-gradient(to right, #ededed, #f6cedb, #aacbe4);
}

.hero-content {
    max-width: 500px;
    text-align: left;
    padding-right: 30px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
    color: #666;
}

.hero .discount {
    font-size: 20px;
    font-weight: bold;
    color: #ff2b2b;
    margin-top: 20px;
}

.hero .shop-now {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background-color: #d776b2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.hero .shop-now:hover {
    background-color: #a40060;
}

.hero-image img {
    width: 500px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px; 
}



.products {
    padding: 50px 20px;
    text-align: center;
    margin-top: 50px;
}

.products h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #222;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to right, #ededed, #f6cedb, #aacbe4);
}

.product {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #444;
}

.product p {
    font-size: 16px;
    color: #de2d2d;
    font-weight: bold;
}

.product button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: linear-gradient(to right, #f48fb1, #f06292);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background: linear-gradient(to right, #e91e63, #c2185b);
}
